<div>
  <div class="col-md-10">
    <h1> Course Name: {{this.course.name}}</h1>
  </div>
  <div class="col-md-6">
    Course start date:
    {{course.startDate}}
  </div>
  <div class="col-md-6">
    Course end date:
    {{course.endDate}}
  </div>
  {{#each course.homework}}
    <div class="col-md-4"><h2>
      {{name}}
    </h2>
    </div>
  {{/each}}
  {{#if this.isSigned}}
  {{else}}
    <button class="btn btn-success sign-course">Sign in for this course</button>
  {{/if}}
  <div class="course-add-lecture row">
    <label>Lecture Name
      <input type="text" class="lecture-name"/>
    </label>
    <label>Lecture Date
      <input type="date" class="lecture-date">
    </label>
    <label>Lecture start hour
      <input type="time" class="lecture-startHour"/>
    </label>
    <label>Lecture end hour
      <input type="time" class="lecture-endHour"/>
    </label>
    <input type="button" class="lecture-create-lecture-btn" value="Create Lecture">
    <label >Homework
      <input name="hw" type="checkbox" class="lecture-homework">
    </label>
    <label class="homework" style="display: none;">
      <input type="date" class="lecture-homework-deadline">
    </label>
  </div>
</div>
