<div class="content-courses-wrapper">
  <div class="content-courses">
    {{#each this}}
      <div class="course">
        <div class="course-image">
          <img src="http://localhost:1337/image/{{image}}" alt="">
        </div>
        <div class="course-info">
          <a href="#/course/{{_id}}">{{name}}<br/></a>
          <span>{{track}}</span>
          <div class="course-color-circle" style="background-color: {{color}}; width: 13px;height: 13px">
          </div>
        </div>
        <div class="course-homework">
          <div class="course-homework-icon">
            <img src="images/hw.png" alt="">
            <div class="course-homework-count">
              <span href="">
                {{homeworkCount}}
              </span>
            </div>
          </div>
          <p>{{soonestHomework}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="content-calendar">
    <div class="calendar">
      <div id="chartdiv"></div>
    </div>
  </div>
</div>
